{# 

Product Info partial 
Should contain body text about the product 

#}
<div
	class="text-left mx-4">
	{# Display name, category and price of product #}
	<strong>
		{{ product.artiklar_benamning is defined ? product.artiklar_benamning : "Namn kunde inte hittas"}}
	</strong>
	<p class="text-gray-400 text-sm">
		{{ product.artikelkategorier_id is defined ? product.artikelkategorier_id : ""}}
	</p>
	<p>
		{{product.lagersaldo > 0 ? "Finns i lager" : "Finns tyvärr inte i lager" }}
	</p>

	<p class="pt-16 text-xl">
		{{ product.pris is defined ? product.pris * (1 + (product.momssats / 100)) : "Pris not found"}}
		{{ product.valutor_id is defined ? product.valutor_id : "SEK"}}
	</p>
	<p class="text-gray-400 text-sm">

		{{product.pris}}
		exkls moms

	</p>
</p>

{# Link to product page #}
<a href="/" class=" block w-full mx-auto pt-3">
	<p class="bg-blue-500 hover:bg-blue-600 text-center py-3 rounded-lg shadow-md text-white">
		Till produkt
	</p>
</a></div>
